<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Popcorn Bucketlist</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/watch-list">Watchlist <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
  <div class="container" id="log-in-container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div id="searchResults"></div>
      </div>
    </div>
  </div>


<div class="row" id="movies-container">
  {{!-- movies on the watchlist will go here --}}
    {{#each movie}}
      {{#unless this.watched}}

      <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12" id="movie">
          <div class="box gallery">
            <img class="im-responsive" id="new-movie" src={{this.movie_poster}}>
            <a onClick="modalDisplay({{@index}})" class="overlay link" id="trigger-modal{{@index}}"></a>
              <div class="info">
                <div class="foot">
                  <p id="movie-title">{{this.movie_name}}</p>
                  <i class="line"></i>
                  <p id="runtime">{{this.movie_time}}</p>
                </div>
              </div>
          </div>
      </div>

     <div id="movieModal{{@index}}" class="modal">

        <div class="modal-content">

        <div class="row" id="modal-body">
            {{!-- movie poster here --}}
            <div class="col-5">
              <img src="{{this.movie_poster}}" id="this-movie-poster">
            </div>

            <div class="col-7" id="movie-scroll">

              <span id="close{{@index}}" class="close"></span>

              <div class="container" id="modal-movie-box">
                  {{!-- title --}}
                  <h2 class="movie-title" id="modal-title">{{this.movie_name}}</h2>
                  {{!-- year, length, genre --}}
                  <div class="row" id="genre-box">
                      <div class="col-2" id="year">{{this.movie_year}}</div>
                      <div class="col-2" id="time">{{this.movie_time}}</div>
                      <div class="col-6" id="genre">{{this.movie_genre}}</div>
                  </div>
                  <div class="row" id="ratings">
                      <div class="col-3" id="imdb">
                          <img src="../public/assets/images/imdblogo.jpg" alt="imdb" id="imdb-symbol">
                          <h5 class="imdb-text">{{this.movie_ratingImdb}}</h5>
                      </div>
                      <div class="col-3" id="rotten">
                          <img src="../public/assets/images/rotten.png" alt="rotten tomatoes" id="rt-symbol">
                          <h5 class="rotten-text">{{this.movie_ratingRotten}}</h5>
                      </div>
                  </div>
              </div>

            </div>


        </div>

        </div>

     </div> 
</div>
  
<script src="/assets/js/watch-list.js"></script>
<script src="/assets/js/mocksearch.js"></script>
​<script src="/assets/js/search.js"></script>
<script src="/assets/js/members.js"></script>